* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  background-color: grey;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
}

ul {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  right: 25px;
}

li {
  list-style: none;
  font-family: cursive;
  font-size: 100%;
  color: blueviolet;
  margin: 3vh;
}

#logo {
  width: 10vh;
}

.burger {
  display: none;
}

#burger_trigger {
  display: none;
}

main {
  background-color: chartreuse;
  height: 85vh;
  display: grid;
  grid-template-rows: 65% 35%;
  grid-template-columns: 65% 35%;
  place-items: center;
}

#S1 {
  background-color: green;
  height: 95%;
  width: 95%;
  text-align: center;
  align-content: center;
}

aside {
  background-color: cyan;
  height: 95%;
  width: 95%;
  text-align: center;
  align-content: center;
}

#S2 {
  background-color: crimson;
  height: 95%;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 95%;
  text-align: center;
  align-content: center;
}

footer {
  background-color: forestgreen;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  header {
    background-color: grey;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 10%;
  }

  #golo {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
  }

  #unem {
    display: none;
  }
  main {
    display: flex;
    flex-flow: column nowrap;
    place-items: center;
  }

  #burger_trigger {
    width: 30px;
    height: 30px;
  }

  li {
    list-style-type: none;
    margin-bottom: 15px;
  }

  .burger {
    background-color: #fd6f01;
    height: 90vh;
    width: 150px;
    position: relative;
    left: -150px;
    transition: ease-in-out 0.5s;
  }

  .burger_on {
    left: 0px;
  }
}
