*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
  background: #000;
  display: flex;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.window {
  min-width: 90vw;
  margin: 1rem auto;
  padding: 1rem;
  color: #e0b4b1;
  font-size: 1rem;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(0.5rem);
  border-radius: 30px 10px 30px 10px;
  border: 1px solid rgba(50, 15, 16, 0.35);
}

.window a {
  text-decoration: none;
}

.window a,
p,
h2 {
  color: #ede6dc;
  font-family: "Allura", cursive;
  font-size: x-large;
}

form {
  border: 3px solid #d9bbaa;
  border-radius: 30px 10px 30px 10px;
}
