body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

div {
  width: 500px;
  height: 500px;
  position: absolute;
  right: 0%;
  top: 0%;
}
