* {
  margin: 0;
  list-style-type: none;
}
html {
  height: 100%;
  width: 100%;
}
header {
  background-color: #ebdfec;
  height: 8vh;
}
nav {
  display: flex;
  justify-content: center;
}
section {
  height: 44vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
li {
  justify-content: center;
  margin-left: auto;
}
img {
  height: 9vh;
  width: 9vh;
}
ul {
  display: flex;
  justify-content: center;
  width: 50%;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ebdfec;
  height: 4vh;
}
.vedette {
  background-color: orange;
}
span {
  color: orangered;
}
