* {
  margin: 0%;
}

header {
  background-color: grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

#logo {
  width: 60px;
}

#burger_trigger {
  width: 30px;
  height: 30px;
}

li {
  list-style-type: none;
  margin-bottom: 15px;
}

.burger {
  background-color: #fd6f01;
  height: 90vh;
  width: 150px;
  position: relative;
  left: -150px;
  transition: ease-in-out 0.5s;
}

.burger_on {
  left: 0px;
}
