* {
  margin: 0;
}
html {
  height: 100%;
  width: 100%;
}
body {
  position: relative;
  margin: 0%;
  padding: 0%;
}
header {
  height: 25%;
  background-image: url(Skate.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
nav {
  height: 3vh;
  background-color: grey;
}
li {
  display: inline;
  margin-left: 30px;
}
#TG {
  text-align: justify;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
main {
  height: 70.9vh;
  display: flex;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
section img {
  width: 100%;
}
footer {
  text-align: center;
  background-color: grey;
  height: 3vh;
}
