* {
  margin: 0;
  padding: 0;
}
header {
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img {
  height: 12vh;
  width: 12vh;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
li {
  margin-right: 20px;
}
main {
  height: 80vh;
}
footer {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  flex-flow: row, nowrap;
}
#AZ {
  width: 50%;
  height: 80vh;
  background-color: #93c6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
#AZ img {
  height: 20vh;
  width: 20vh;
}
#ER {
  width: 50%;
  height: 80vh;
  background-color: #93f6e7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#ER img {
  height: 8vh;
  width: 8vh;
}
#TY,
#UI,
#OP,
#QS,
#DF {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.box {
  font-size: large;
  background-color: white;
  width: 90%;
  height: 7%;
  margin: 2%;
  padding: 2%;
  border: 5px solid #93f6e7;
  border-radius: 2vh;
}
.xob {
  border: 1px solid #93f6e7;
  border-radius: 2vh;
}
