body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: gray;
  color: rgb(0, 0, 0);
}

header {
  background-image: url(zerg.avif);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.hero {
  background-image: linear-gradient(to right, transparent, mistyrose),
    url(space_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  margin-right: 250px;
  padding-left: 200px;
}

.hero img {
  animation: ghost 4s ease-in-out infinite alternate;
}

.donnees {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 95%;
  position: relative;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  gap: 2px;
}

.bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
table, form {
  width: 40%;
}

form {
  text-align: left;
}

fieldset {
  border-radius: 10px;
}

h1,
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 3%;
}

h1 {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  font-size: larger;
  color: yellowgreen;
  text-align: center;
}

h2 {
  font-size: small;
}

p {
  line-height: 1.4;
  margin: 2% 0% 3% 0%;
  color: black;
  width: 90%;
}

a {
  color: azure;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: yellowgreen;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

ul li {
  margin: 3%;
}

nav {
  background-color: slategrey;
}

.carre-rouge {
  display: block;
  margin: auto;
  height: 150px;
  width: 150px;
  background-color: red;
  border-radius: 10%;
}

.carre-rouge:hover {
  animation: pulse 0.6s ease-in-out infinite;
}

.carre-bleu {
  height: 100px;
  width: 100px;
  background-color: blue;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.comp {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5px;
  justify-items: center;
  text-align: center;
  background-color: wheat;
}

.notif {
  animation: slidein 0.6s ease-out forwards;
  height: 50px;
  width: 200px;
  background-color: tomato;
  text-align: center;
  align-content: center;
  color: black;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

footer {
  background-image: url(Carrier_SCR_Head1.JPG.webp);
  background-repeat: repeat;
  color: whitesmoke;
  text-align: center;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.15);
  }
  from {
    background-color: red;
  }
  to {
    background-color: blueviolet;
  }
}

@keyframes slidein {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes ghost {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

@media (max-width: 768px) {
  .comp {
    grid-template-columns: 45% 45%;
  }
}

@media (max-width: 500px) {
  .comp {
    grid-template-columns: 90%;
  }
}
