* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: burlywood;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 50% 50%;
}
#PIERRE {
  background-color: burlywood;
  border: none;
  height: 40vh;
  width: 20vw;
  background-image: url(pierre-Photoroom.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#FEUILLE {
  background-color: burlywood;
  border: none;
  height: 40vh;
  width: 20vw;
  background-image: url(feuille-Photoroom.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#CISEAUX {
  background-color: burlywood;
  border: none;
  height: 40vh;
  width: 20vw;
  background-image: url(ciseaux-couturiere.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.affiche {
  display: grid;
  grid-template-rows: 100%;
  place-items: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 25vh;
  color: darkgray;
}
