.focus-gallery {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  min-height: calc(100dvh - 200px);
  align-items: center;
  gap: 200px;
  padding: 0 calc(50vw - 150px);
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.focus-gallery::-webkit-scrollbar {
  display: none;
}

@keyframes pop-in {
  0% {
    transform: scale(0.5) rotate(-10deg);
    opacity: 0.3;
  }

  50% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: scale(0.5) rotate(10deg);
    opacity: 0.3;
  }
}

.item {
  flex: 0 0 300px;
  width: 300px;
  aspect-ratio: 3 / 4;
  border-radius: 20px;
  overflow: hidden;
  scroll-snap-align: center;
  position: relative;

  animation: pop-in linear both;
  animation-timeline: view(x);
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
