body {
  background-color: aqua;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
header {
  background-color: blue;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 10vh;
  width: 10vw;
  object-fit: contain;
}
nav ul li {
  background-color: blueviolet;
  display: inline;
  margin: 3vw;
}
main {
  background-color: chartreuse;
  height: 85vh;
  display: grid;
  grid-template-rows: 65% 35%;
  grid-template-columns: 65% 35%;
  place-items: center;
}
#S1 {
  background-color: green;
  height: 95%;
  width: 95%;
  text-align: center;
}
aside {
  background-color: cyan;
  height: 95%;
  width: 95%;
  text-align: center;
}
#S2 {
  background-color: crimson;
  height: 95%;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 95%;
  text-align: center;
}
footer {
  background-color: forestgreen;
  height: 5vh;
}

@media all and (max-width: 800px);
