* {
  margin: 0%;
  padding: 0%;
}
body {
  height: 100%;
  width: 100%;
  background-image: url(protoss.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 110%;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 12.5vh;
}
.A {
  display: flex;
  margin: 3vh;
  justify-content: space-evenly;
}
.A p {
  display: inline;
  margin-left: 3vh;
  color: whitesmoke;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
header img {
  height: 6vh;
}
main {
  height: 83.5vh;
  background-color: #373738;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#B {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: whitesmoke;
}
.G {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 99.5%;
  gap: 1vh;
  justify-content: space-around;
  color: whitesmoke;
}
.D {
  background-color: #252535;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box1 {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  text-align: center;
  font-size: larger;
  border-radius: 2vh;
}
.TG img,
.GT img {
  margin: 2vh;
  height: 35vh;
  width: 26vh;
  border-radius: 2vh;
}
.DF {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.bg1 {
  text-align: right;
  align-content: center;
  width: 100%;
  height: 30%;
  background-image: url(terran.avif);
  background-size: cover;
  background-position: top;
  border-radius: 2vh;
}
.bg2 {
  text-align: right;
  align-content: center;
  width: 100%;
  height: 30%;
  background-image: url(zerg.avif);
  background-size: cover;
  background-position: top;
  border-radius: 2vh;
}
.bg3 {
  text-align: right;
  align-content: center;
  width: 100%;
  height: 30%;
  background-image: url(protoss.webp);
  background-size: cover;
  background-position: top;
  border-radius: 2vh;
}
#box2 {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  font-size: larger;
  border-radius: 2vh;
}
#box img {
  height: 20vh;
  width: 58vh;
  border-radius: 2vh;
}
#box3 {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: space-evenly;
  font-size: larger;
  border-radius: 2vh;
}
#xob img {
  height: 7.5vh;
  width: 7.5vh;
  margin: 3vh;
}
#YO {
  height: 30vh;
  width: 55vh;
  border-radius: 2vh;
}
.D #button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#button {
  background-color: #008002;
  border-radius: 2vh;
  color: whitesmoke;
  font-size: 1em;
  height: 7.5vh;
  width: 55vh;
}
footer {
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  background-color: #252535;
}
