* {
  margin: 0%;
  padding: 0%;
}
body {
  height: 100%;
  width: 100%;
  background-image: url(protoss.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 110%;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 12.5vh;
}
.A {
  display: flex;
  margin: 3vh;
  justify-content: space-evenly;
}
.A p {
  display: inline;
  margin-left: 3vh;
  color: whitesmoke;
}
.C {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
header img {
  height: 6vh;
}
main {
  height: 83.5vh;
  background-color: #373738;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}
.B {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  color: whitesmoke;
}
#a {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.C {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 99%;
  justify-content: center;
  margin: 2vh;
  color: whitesmoke;
}
#box1 {
  background-color: #252535;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.vidéo {
  width: 900px;
  height: 500px;
  overflow: hidden;
  border-radius: 2vh;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.video iframe {
  width: 100%;
  height: 90%;
  border: 0;
  display: block;
}
#box2 {
  background-color: #252535;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
#boxes1 {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  place-content: center;
  gap: 2vh;
}
#boxes2 {
  display: grid;
  grid-template-columns: 2fr 2fr 4fr;
  place-content: center;
  gap: 2vh;
}
#mini {
  display: grid;
  border-collapse: collapse;
  border: 1px solid whitesmoke;
  border-radius: 1vh;
  justify-items: center;
  place-items: center;
}
#maxi {
  display: grid;
  grid-template-columns: 5fr;
  border: 1px solid whitesmoke;
  border-radius: 1vh;
  justify-items: center;
  place-items: center;
}
#mini img {
  height: 13vh;
  width: 12vh;
  border-radius: 0.5vh;
}
footer {
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  background-color: #252535;
}
