@media (max-width: 375px) {
  body {
    margin: 0;
    min-height: 50vh;
  }
  header {
    flex-direction: column;
  }
  .A {
    margin: 1.5vh;
  }
  .A p {
    margin-left: 1vh;
    justify-content: center;
  }
  main .B {
    flex-flow: column wrap;
    justify-content: flex-start;
  }
}
